<div class="game-wrapper">
    <div class="game-logo">
        <img src="assets/img/snake-logo.png">
    </div>
    <app-game-canvas></app-game-canvas>
    <div class="game-inform">
        <ul class="game-score">
            <li class="score-inform" *ngFor="let type of fruits">
                <span class="image {{type.name}}"></span>
                <span>: {{type.score}}</span>
            </li>
        </ul>
        <div class="game-score">
            <h1>Scores: {{(gameState|async)?.scores}}</h1>
            <h1>Best: 3456</h1>
        </div>
    </div>
</div>
