@import '../../styles/utils/variables';
@import '../../styles/utils/functions';
@import '../../styles/utils/mixins';
@import url("https://fonts.googleapis.com/css?family=Bungee|Bungee+Outline");

.game-wrapper {
  width: 640px;
  height: 100%;
  margin: 0 auto;
}
